a {
    color: white;
    text-decoration: none;
}
body {font-family: "Lato", sans-serif;
background-color: #33ccff;
}

.mySlides {display: none}

.navbar{
    margin-top: 1rem;
    background: black;
}
